# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.28.1
    hooks:
    -   id: markdownlint
        args: [--fix]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        args: ["--maxkb=80000"]
-   repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
    - id: isort
      types: [python]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
    -   id: mypy
-   repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
    -   id: black
-   repo: https://github.com/nbQA-dev/nbQA
    rev: 1.1.0
    hooks:
    -   id: nbqa-isort
    -   id: nbqa-black
    -   id: nbqa-pyupgrade
    -   id: nbqa-mypy
